#group-button > button {
  margin: 0 5px;
  border-radius: 25px;
  color: black;
  width: inherit;
  display: inline;
  border-color: #dbd6d6;
}

.card-text {
  color: rgb(113, 113, 113);
}

#card-price {
  color: rgb(34, 34, 34) !important;
  text-align: right !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 24px !important;
}

#card-price-value {
  font-weight: 800 !important;
}

#grou-button {
  display: contents;
}

.group-nav-principal > button {
  border-color: #f6f6f6;
  border-radius: 15px;
  color: black;
  font-weight: bold;
}

.group-nav-principal {
  display: contents;
}

body {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.cards {
  display: flex;
}

.pink-way {
  color: #ff5757;
}

.nav-secondary * {
  color: black;
}

.nav-secondary * a:hover {
  color: black;
  background-color: inherit;
}

.footer {
  text-align: center;
  bottom: 0;
  background-color: lightgray;
}
.logos {
  justify-content: center;
  display: inline-flex;
  flex: 1;
}
#logo1 {
  height: 180px;
}
.companyLogo {
  flex: 1;
  align-items: stretch;
}

.footer img {
  height: 50px;
}
.btn-outline-secondary:hover {
  background-color: transparent !important;
  border-color: rgb(34, 34, 34) !important;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.1rem #212529;
  color: black !important;
}
input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: black;
  font-weight: bold;
}

.btn-outline-secondary {
  font-size: 90%;
}

#header {
  background-color: white;
  border-bottom: solid;
  border-width: 0.15rem;
  padding-bottom: 10px;
  border-color: lightgrey;
}

.btn-outline-secondary:hover {
  background-color: transparent !important;
  border-color: rgb(34, 34, 34) !important;
}

.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.1rem #212529;
}
