#taile > button {
  margin: 0 5px;
  border-radius: 25px;
  color: black;
  width: inherit;
  display: inline;
  border-color: #dbd6d6;
}

.card-text {
  color: rgb(113, 113, 113);
}

#card-price {
  color: rgb(34, 34, 34) !important;
  text-align: right !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 24px !important;
}

#card-price-value {
  font-weight: 800 !important;
}

#taile {
  display: contents;
}

.group-nav-principal > button {
  border-color: #f6f6f6;
  border-radius: 15px;
  color: black;
  font-weight: bold;
}

/* .nav-principal * a:hover {
  box-shadow: 1px 2px gray;
  background-color: transparent;
  color: black;
} */

.group-nav-principal {
  display: contents;
}

body {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
}

.pink-way {
  color: #ff5757;
}

.nav-secondary * {
  color: black;
}

.nav-secondary * a:hover {
  color: black;
  background-color: inherit;
}

.card-text {
  width: 30rem;
}

. .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f7b432;
  border-color: #f7b432;
}
